/* imports */
@import url(./jpark178.github.io/fonts.css);
@import url(./jpark178.github.io/partials/_variables.css); /* css variables */
@import url(./jpark178.github.io/partials/_global.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: Raleway;
}

html {
    scroll-behavior: smooth;
}


body {
    padding-bottom: 200px;
    z-index: 1;
}

/* start navigation */
.header_area .main-menu .navbar-brand {
    padding: 0 0 0 10px;
    margin-top: -10px;
}

.header_area .main-menu .navbar {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: right;
    padding: 0px 0px 0px 0px;
    margin-top: -40px;
    z-index: 2;
}

.header_area .main-menu .navbar-nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 5%;
}

.header_area .main-menu .nav-item .nav-link {
    font: normal 500 15px/2px var(--Raleway);
    font-size: 20px;
    padding: 30px; 
    font-weight: 700;    
}

.header_area .main-menu .navbar-nav .active a {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */

/* banner */
.site-main .site-banner {
    background: no-repeat 0% 50%; /* create banner !! */
}

.site-main .site-banner .site-title h3{
    padding-top: 60%;  
    font-size: 35px; 
    font-weight: 600;
    color: #afafbf;
}

.site-main .site-banner .site-title h3::after{
    content: "";
    height: 3px;
    width: 16vw;
    background: var(--primary-color);
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 50px;
    color: var(--primary-color);
}

.site-main .site-banner .site-title h4{
    color: var(--primary-color);
    font-size: 20px;
    line-height: 1.3;
    padding: 20px 0 50px 0;
}

.site-main .site-banner .banner-image > img {
    margin-top: 200px;
    width: 90%; 
    border-radius: 50%;
    filter: grayscale(70%);
    box-shadow: 10px 10px 0px 0px;
}

/* end banner */

/* start about area */

.site-main .about-area {
    padding: 0px 10px 100px 100px;
}

.site-main .about-area .about-title h2 > span {
    display: block;
    font: normal bold 49px/60px var(--Raleway);
    letter-spacing: 20px;
    color: var(--primary-color);
}


.site-main .about-area .about-title .paragraph > p {
    position: auto;
    color: var(--primary-color);
    padding: 0 0 10px 0;
}

.site-main .about-area .mythings {
    column-count: 3;
    color: var(--primary-color);    
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 100px;
    margin-top: 100px;
}

/* end about area */

/* start project area */
.site-main .project-area .project-title h2 > span {
    display: block;
    font: normal bold 49px/60px var(--Raleway);
    letter-spacing: 20px;
    color: var(--primary-color);
    margin-left: 100px;
    margin-bottom: 50px;
}

.site-main .project-area .col {
    column-gap: 40px;
    width: auto;
    word-spacing: 1px;
    height: auto;
    margin: 10px 10px 20px 10px;
}

/* end project area */

/* start footer area */

footer.footer-area {
    padding: 10px 20px 20px 20px;
}

footer.footer-area .site-logo{
    padding: 10px 20px 0px 20px;
    margin-bottom: -70px;
}



footer.footer-area .social h5 {
    font: normal 500 23px/ 30px var(--Raleway);
}



footer.footer-area .social a > i {
    font-size: 20px;
    padding: 20px 20px 20px 20px;
    color: var(--border-color);
}

footer.footer-area .social a:hover > i {
    color: var(--primary-color);
}

/* end footer area */
